body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    background-color: #ffffff;
}
img{
    text-align: center;
    margin: 0 auto;
    display: flex;
     width: auto;
     margin-left: auto;
     margin-right: auto;
 }
.photo{
    width: 1280px;
}

.btn {
    width: 200px;
    text-align: center;
    padding: 1.5rem;
    background: #171d1b;
    cursor: pointer;
    border-radius: 100rem;
    font-size: 1.5rem;
    color: #fff;
  }

/*--------- MENU RESTAURANTS ------------*/

.background-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
    &.TheFullPalette{
        
    }
}