@media screen and (max-width:600px){
    .section-explication__articles{
        flex-direction: column;
    }
    .section-explication__article{
        width: 100%;
    }
    .resto-prev{
        width: 100%;
    }
    .resto-prev__image img{
        height: 240px;
    }
}