$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #5fe0c7;

$background-color-primary: #FFFFFF;
$background-color-secondary: #EEEEEE;
$background-color-tertiary: #F5F5F5;

$background-image-primary: url("../../images/restaurants/TheFullPalette.jpg");
$background-image-secondary: url("../../images/restaurants/TheEnchantedPlate.jpg");
$background-image-tertiary: url("../../images/restaurants/Bastille.jpg");
$background-image-quaternary: url("../../images/restaurants/LeGourmand.jpg");

$breakpoints: (mobile: 599px);